.contact {
    .title {
        margin: 100px auto;
        color: #676767;
        position: relative;
        h3 {
            text-align: center;
            font-size: 42px;
            .baseColor {
                color: rgb(159, 68, 155);
            }
        }
    }
    h3:after {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50px;
        left: 388px;
        border-left: 1px solid rgb(159, 68, 155);
        border-bottom: 1px solid rgb(159, 68, 155);
    }
    h3:before {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -5px;
        left: 658px;
        border-right: 1px solid rgb(159, 68, 155);
        border-top: 1px solid rgb(159, 68, 155);
    }
}
.leftContainer {
    width: 50%;
    float: left;
    input,
    textarea {
        width: 100%;
        color: #676767;
        font-size: 22px;
        padding: 2px 0 2px 5px;
        margin: 5px 0;
    }
    textarea {
        min-height: 250px;
    }
    input[type=submit] {
        display: block;
        margin: 5px 0;
        width: 225px;
        height: 75px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: rgb(159, 68, 155);
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        -webkit-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
    }
}
.rightContainer {
    width: 48%;
    float: right;
    p {
        padding-left: 10px;
        font-size: 18px;
        color: #676767;
    }
    p:nth-of-type(2) {
        font-weight: bold;
        font-size: 22px;
    }
}
.socialIcons {
    a {
        width: 45px;
        height: 45px;
        border: 1px solid #676767;
        border-radius: 50%;
        display: inline-block;
        margin: 10px 5px;
        text-decoration: none;
        position: relative;
        &:hover {
            background-color: #676767;
            transition: background-color 0.7s ease;
            p {
                color: #fff;
            }
        }
        p {
            color: #676767;
            font-size: 20px;
            position: absolute;
            top: 7px;
            left: 7px;
        }
    }
}
.contact::after {
    content: '';
    display: block;
    height:0;
    clear: both;
}
