footer {
    p {
        text-align: center;
        font-size: 35px;
        color: #676767;
        padding:10px 0;
        margin:30px auto;
        span {
            color: rgb(159, 68, 155);
        }
    }
}
